# Electron Runtime Binaries (zu gross fuer Git)
*.dll
*.pak
*.dat
*.bin
*.exe
!elevate.exe

# Chromium/V8 Binaries
chrome_*.pak
icudtl.dat
snapshot_blob.bin
v8_context_snapshot.bin
d3dcompiler_47.dll
ffmpeg.dll
libEGL.dll
libGLESv2.dll
vk_swiftshader.dll
vulkan-1.dll

# Locale Packs
locales/

# Licenses (Chromium)
LICENSES.chromium.html
LICENSE.electron.txt

# Node
node_modules/
package-lock.json

# Build Output
dist/
out/
build/
*.asar
